<launch>

    <node pkg="tf2_ros" type="static_transform_publisher" name="laser_base_broadcaster" args="0.05000000074505806 0 0 3.14159265358 0 0 /base_link /laser" /> 
    <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="laser_base_broadcaster" args="0.05000000074505806 0 0 -1.570799946784973 0 0 /base_link /laser" />  -->

</launch>